footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

footer > .ActiveArea {
  grid-column: 3/ span 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

footer #Logo {
  grid-column: 1/ span 1;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer #LinkContainer {
  grid-column: 2/ span 5;
  padding: 1rem;
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer .LinkColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

footer .Link {

}